In [1]:
import os
import re
import pandas as pd

### Đọc dữ liệu và lưu vào file để tạo file nguyên bản đầu tiên

In [2]:
folder_path = r"Fixations"  # m đọc và thay tên folder gốc chứa data của mình vào đây
output_csv = "original_file.csv" # tên file sau khi được ghi ra
expected_cols = ["IMAGE","FIX_INDEX","FIX_DURATION","FIX_X","FIX_Y","FIX_PUPIL"]


# hàm đổi tên đọc trong cột source file và đổi sang int để sau đó lưu sang một cột khác
def extract_numeric_from_filename(fname):
    """
    Lấy chuỗi số đầu tiên trong tên file, ví dụ "000.xlsx" -> 0, "201_extra.xlsx" -> 201.
    Trả về int hoặc None nếu không tìm thấy số.
    """
    m = re.search(r"(\d+)", fname)
    return int(m.group(1)) if m else None
files = [f for f in os.listdir(folder_path) if f.lower().endswith((".xls", ".xlsx"))]
file_infos = []
for f in files:
    num = extract_numeric_from_filename(f)
    if num is None:
        file_infos.append((f, -1))
    else:
        file_infos.append((f, num))


# sắp xếp theo số (tăng dần). Những file không có số sẽ đứng cuối.
file_infos = sorted(file_infos, key=lambda t: t[1])

records = []
bad_files = []      # lưu file bị lỗi / thiếu cột
skipped_files = []  # lưu file bị skip do lỗi đọc

for fname, num in file_infos:
    path = os.path.join(folder_path, fname)
    try:
        df = pd.read_excel(path, engine="openpyxl")
    except Exception as e:
        skipped_files.append((fname, str(e)))
        continue
    cols_lower = [c.strip().upper() for c in df.columns]
    if not all(col in cols_lower for col in expected_cols):
        bad_files.append(fname)
        continue
    col_map = {orig: orig.strip().upper() for orig in df.columns}
    df = df.rename(columns=col_map)
    df = df[expected_cols].copy()
    numeric_id = num if num != -1 else extract_numeric_from_filename(fname)
    # nếu file tên ko có số sẽ để numeric_id = None
    label = 1 if (numeric_id is not None and numeric_id > 200) else 0
    df["source_file"] = fname
    df["numeric_id"] = numeric_id
    df["label"] = label
    df["FIX_INDEX"] = pd.to_numeric(df["FIX_INDEX"], errors="coerce").astype("Int64")
    df["FIX_DURATION"] = pd.to_numeric(df["FIX_DURATION"], errors="coerce")
    df["FIX_X"] = pd.to_numeric(df["FIX_X"], errors="coerce")
    df["FIX_Y"] = pd.to_numeric(df["FIX_Y"], errors="coerce")
    df["FIX_PUPIL"] = pd.to_numeric(df["FIX_PUPIL"], errors="coerce")
    df = df.dropna(subset=["FIX_INDEX","FIX_X","FIX_Y"])
    records.append(df)

# concat tất cả
if records:
    merged_df = pd.concat(records, ignore_index=True)
else:
    merged_df = pd.DataFrame(columns = expected_cols + ["source_file","numeric_id","label"])

# save
merged_df.to_csv(output_csv, index=False)

# summary báo cáo
print(f"Đã đọc {len(records)} file hợp lệ. Tổng số dòng: {len(merged_df)}")
if bad_files:
    print("Các file bị thiếu cột (bị bỏ qua):", bad_files)
if skipped_files:
    print("Các file bị lỗi khi đọc (bị bỏ qua):", skipped_files)

# hiển thị 5 dòng đầu

merged_df.head()

Đã đọc 160 file hợp lệ. Tổng số dòng: 225159

,IMAGE,FIX_INDEX,FIX_DURATION,FIX_X,FIX_Y,FIX_PUPIL,source_file,numeric_id,label
0,outman_054.jpg,1,205,518.5,371.3,1177,000.xlsx,0,0
1,outman_054.jpg,2,90,275.1,282.2,1262,000.xlsx,0,0
2,outman_054.jpg,3,305,600.3,271.1,1265,000.xlsx,0,0
3,outman_054.jpg,4,269,635.2,269.2,1326,000.xlsx,0,0
4,outman_054.jpg,5,318,597.3,266.0,1366,000.xlsx,0,0

In [3]:
merged_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 225159 entries, 0 to 225158
Data columns (total 9 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   IMAGE         225159 non-null  object
 1   FIX_INDEX     225159 non-null  Int64
 2   FIX_DURATION  225159 non-null  int64
 3   FIX_X         225159 non-null  float64
 4   FIX_Y         225159 non-null  float64
 5   FIX_PUPIL     225159 non-null  int64
 6   source_file   225159 non-null  object
 7   numeric_id    225159 non-null  int64
 8   label         225159 non-null  int64
dtypes: Int64(1), float64(2), int64(4), object(2)
memory usage: 15.7+ MB

In [4]:
merged_df["IMAGE"].value_counts()
# h ta sẽ index các image thành các số int và bước sau sẽ đếm xem mỗi người nhìn bao  nhiêu ảnh và các ảnh có gióng nhau không

IMAGE
mood_39.jpg    2659
mood_43.jpg    2636
mood_38.jpg    2600
mood_44.jpg    2593
mood_41.jpg    2587
               ...
noi_052.jpg    1967
low_032.jpg    1951
low_031.jpg    1929
noi_051.jpg    1913
low_034.jpg    1895
Name: count, Length: 100, dtype: int64

In [5]:
merged_df["image_id"] = merged_df["IMAGE"].astype("category").cat.codes
'''Sau khi chạy dòng code trên, Pandas sẽ gán số cho các giá trị duy nhất (thường theo thứ tự bảng chữ cái),
nó chuyển đổi dữ liệu dạng chuỗi (text) trong cột "IMAGE" thành các số nguyên duy nhất và lưu vào một cột mới tên là "image_id".
ví dụ: 
        train_01.jpg ->0 ;
        train_02.jpg ->1 ;
        train_03.jpg ->2 ;
'''

'Sau khi chạy dòng code trên, Pandas sẽ gán số cho các giá trị duy nhất (thường theo thứ tự bảng chữ cái),\nnó chuyển đổi dữ liệu dạng chuỗi (text) trong cột "IMAGE" thành các số nguyên duy nhất và lưu vào một cột mới tên là "image_id".\nví dụ: \n        train_01.jpg ->0 ;\n        train_02.jpg ->1 ;\n        train_03.jpg ->2 ;\n'

In [6]:
merged_df.head(20)

,IMAGE,FIX_INDEX,FIX_DURATION,FIX_X,FIX_Y,FIX_PUPIL,source_file,numeric_id,label,image_id
0,outman_054.jpg,1,205,518.5,371.3,1177,000.xlsx,0,0,53
1,outman_054.jpg,2,90,275.1,282.2,1262,000.xlsx,0,0,53
2,outman_054.jpg,3,305,600.3,271.1,1265,000.xlsx,0,0,53
3,outman_054.jpg,4,269,635.2,269.2,1326,000.xlsx,0,0,53
4,outman_054.jpg,5,318,597.3,266.0,1366,000.xlsx,0,0,53
5,outman_054.jpg,6,585,575.4,269.3,1442,000.xlsx,0,0,53
6,outman_054.jpg,7,531,610.9,274.1,1508,000.xlsx,0,0,53
7,outman_054.jpg,8,336,595.0,333.7,1577,000.xlsx,0,0,53
8,outman_054.jpg,9,400,597.8,599.6,1687,000.xlsx,0,0,53
9,outman_054.jpg,10,325,550.1,580.0,1756,000.xlsx,0,0,53
10,outman_054.jpg,11,227,252.9,598.1,1852,000.xlsx,0,0,53
11,outman_054.jpg,12,486,208.1,335.7,1807,000.xlsx,0,0,53
12,outman_054.jpg,13,390,254.9,253.3,1715,000.xlsx,0,0,53
13,outman_054.jpg,14,155,217.7,297.9,1690,000.xlsx,0,0,53
14,ind_022.jpg,1,267,524.1,389.6,1282,000.xlsx,0,0,21
15,ind_022.jpg,2,197,482.8,549.6,1246,000.xlsx,0,0,21
16,ind_022.jpg,3,142,751.8,330.4,1211,000.xlsx,0,0,21
17,ind_022.jpg,4,199,903.6,446.3,1209,000.xlsx,0,0,21
18,ind_022.jpg,5,353,842.9,203.8,1296,000.xlsx,0,0,21
19,ind_022.jpg,6,351,695.8,118.9,1416,000.xlsx,0,0,21

In [7]:
merged_df.to_csv("original_file.csv", index=False)#lưu lại bảng đã chỉnh sửa vào file gốc này

### kiểm tra xem mỗi người nhìn bao nhiêu ảnh

In [8]:
result_df = merged_df.groupby('numeric_id')['image_id'].nunique().reset_index()

In [9]:
result_df.head(160)# vậy kết luận là tất cả người tham gia kiểm tra đều nhìn đủ 100 ảnh

     numeric_id  image_id
0             0       100
1             1       100
2             2       100
3             3       100
4             4       100
..          ...       ...
155         298       100
156         299       100
157         301       100
158         302       100
159         303       100

[160 rows x 2 columns]

In [10]:
with pd.option_context('display.max_rows', None, 'display.max_columns', None):# hiển thị tất cả số ảnh mà mỗi người nhìn 
    display(result_df)

     numeric_id  image_id
0             0       100
1             1       100
2             2       100
3             3       100
4             4       100
5             5       100
6             6       100
7             7       100
8             8       100
9             9       100
10           11       100
11           12       100
12           13        98
13           16       100
14           17       100
15           19        99
16           20        96
17           21       100
18           22       100
19           23       100
20           24       100
21           25       100
22           26       100
23           28       100
24           29       100
25           31       100
26           32       100
27           33       100
28           34       100
29           35       100
30           36       100
31           37       100
32           39       100
33           40       100
34           41       100
35           42       100
36           43       100
37           44       100
38           45       100
39           46       100
40           49       100
41           50       100
42           53       100
43           54       100
44           55       100
45           56       100
46           57       100
47           59       100
48           60       100
49           62       100
50           63       100
51           64        96
52           65       100
53           66        99
54           68       100
55           69       100
56           70       100
57           71       100
58           72       100
59           73       100
60           77       100
61           79       100
62           80       100
63           81       100
64           82       100
65           83       100
66           84       100
67           85       100
68           86       100
69           87       100
70           88       100
71           89       100
72           90       100
73           91       100
74           94       100
75           95       100
76           97       100
77           99       100
78          101       100
79          102       100
80          203       100
81          204       100
82          205       100
83          206       100
84          207       100
85          208       100
86          211       100
87          212       100
88          213       100
89          214       100
90          215       100
91          216        63
92          217       100
93          219       100
94          220       100
95          221       100
96          222       100
97          223       100
98          226       100
99          227       100
100         228       100
101         229       100
102         230       100
103         231       100
104         232       100
105         234       100
106         236       100
107         237       100
108         238       100
109         239       100
110         240        99
111         241       100
112         242       100
113         244        97
114         245       100
115         246       100
116         247       100
117         248       100
118         249       100
119         250       100
120         251        99
121         252       100
122         253       100
123         254       100
124         255       100
125         256       100
126         258       100
127         259        68
128         261       100
129         262       100
130         264       100
131         265       100
132         266       100
133         267       100
134         268       100
135         269       100
136         270        99
137         271        99
138         273       100
139         274       100
140         275       100
141         276       100
142         278       100
143         279       100
144         281       100
145         282       100
146         283       100
147         284       100
148         285       100
149         287       100
150         290       100
151         291       100
152         292       100
153         293       100
154         297       100
155         298       100
156         299       100
157         301       100
158         302       100
159         303       100